
.btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-text2);
  background: var(--btn-color);
  box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  padding: 12px 48px;
}

@media (max-width: 480px) {
  .btn {
    padding: 9px 29px;
  }
}